.pr-container.container{
    width: 1170px;
    margin: 0 auto;
}
.press-release-wrap{

}
.press-release-content{

}
.pr-page-wrap{
    float: left;
    width: 100%;
    margin: 15px -15px;
}
.pr-text-center{
    text-align: center;
}
.pr-page-wrap .pr-row{
    float: left;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}
.pr-page-wrap .pr-col-5{
    min-height: 1px;
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.pr-page-wrap .pr-col-8{
    min-height: 1px;
    float: left;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}
.pr-page-wrap .pr-col-4{
    min-height: 1px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
}
.pr-content-wrap{
    overflow: hidden;
}
.pr-content-wrap .pr-title {
    margin-bottom: 15px;
}
.pr-content-wrap .pr-title h1{
    color: #196abc;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

/* shortcode */
.pr-artical{
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 0px 0;
    padding: 15px 5px 15px;
}
.pr-artical:first-child{
    margin-top: 0;
}
.pr-artical a{
    color: #1a1a1a;
    text-decoration: none;
}
.pr-artical:hover{
    background-color: #fffdeb;
}
.pr-artical:hover a{
    color: #1a1a1a;
    text-decoration: none;
}
.pr-artical-header{
    margin:0 0 10px;
    overflow: hidden;
}
.pr-artical-title h2{
    margin:0 0 0px;
    font-size: 18px;
    line-height: 26px;
}
.pr-artical-date{
    display: inline-block;
    text-transform: uppercase;
}
.pr-artical-location{
    display: inline-block;
    text-transform: uppercase;
}
.pr-artical-content{
    clear: both;
}
.pr-tags-list{
    list-style: none;
    margin:15px 0 0;
    padding: 0;
}
.pr-tags-list > li {
    display: inline-block;
    margin: 0 5px 0 0;
}
.pr-tags-list a {
    background-color: #f2f2f3;
    color: #6a6a6a !important;
    margin: 0;
    padding:5px 10px;
    display: block;
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
}
.pr-tags-list a:hover{
    background-color: #fef6ab;
    color: #1a1a1a !important;
    text-decoration: none;
}
.pr-row .pr-tags-wrap {
    padding: 0px 15px 0;
}
/* sidebar */
.pr-sidebar-bg{
    background-color: #f2f2f3;
}
.pr-sidebar {
    overflow: hidden;
    min-height: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.pr-sidebar a{
    color: #1a1a1a;
}
.pr-sidebar a:hover{
    color: #6a6a6a;
    text-decoration: none;
}
.pr-sidebar a:hover i{
    color: #196abc;
    text-decoration: none;
}
.pr-widget{
    float: left;
    width: 100%;
    color: #333;
    margin-bottom: 15px;
}
.pr-widget:last-child{
    margin-bottom: 0;
}
.pr-widget a{
    color: #1a1a1a;
}
.pr-print{
    float: right !important;
}

.pr-pagination{
    font-size: 14px;
    float: left;
}
.pr-pagination-link{
    background-color: #dfdfdf;
    border-radius: 3px;
    display: inline-block;
    padding: 0 0px;
    text-align: center;
}
.pr-pagination-link a{
    color: #999;
    display: block;
    padding: 5px 10px;
}
.pr-pagination .pr-prev-link{
    /*float: left;*/
    margin: 0;
}
.pr-search-box{
    margin-bottom: 25px;
}
.pr-input-group{
    position: relative;
}
.pr-input-group input[type="text"]{
    padding: 15px 56px 15px 15px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    line-height: normal;
}
.pr-input-group input[type="text"]:focus{
    border: 1px solid #bbb;
}
.pr-group-btn{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.pr-group-btn button{
    border: none;
    font-size: 20px;
    height: 56px;
    width: 56px;
    background-color: #808080;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #fff;
}
.pr-group-btn button:hover{
    background-color: #ccc;
}

.pr-sidebar-logo {
    text-align: center;
}
.pr-sidebar-logo img{
    max-width: 100%;
    width: auto;
}
.pr-sidebar-contact-info ul{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    list-style: outside none none;
    margin: 0;
    padding: 15px 0;
}
.pr-widget-title-o {
    border-bottom: 1px solid #ccc;
    line-height: normal;
    margin-bottom: 7px;
    padding: 0 0 7px;
}

/* detail page */
.pr-logo{
    text-align: center;
    margin-bottom: 15px;
    display: none;
}
.pr-logo img{
    max-width: 250px;
    width: auto;
}
.pr-contact-details ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.pr-contact-details ul li{
    color: #1a1a1a;
}
.pr-contact-details ul li a{
    color: #1a1a1a;
}
.pr-location{
    text-align: right;
}
.pr-detail-page-wrap .pr-title{
    text-align: center;
    margin-top: 15px;
    padding: 0 15px;
}
.pr-detail-page-wrap .pr-title h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #196ABC;
    font-family: 'Open Sans';
    font-size: 28px;
}
.pr-sub-title {
    font-size: 18px;
}
.pr-hidden{
    display: none;
}
.pr-detail-page-wrap .pr-content {
    padding: 0 15px;
}

/* sidebar nav */
ul#pr-nav{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#pr-nav li {
    border-bottom: 1px solid #ccc;
    padding: 5px 5px;
}
ul#pr-nav li:hover{
    background-color: #fffdeb;
}
ul#pr-nav li:hover a{
    text-decoration: underline;
}
ul#pr-nav li:last-child{
    border-bottom: none;
}
ul#pr-nav li a{
    color: #1a1a1a;
}
.pr-edit-post{
    margin-top: 15px;
    display: inline-block;
    clear: both;
}
ul.pr-listing-contact-info{
    border-top: 0;
    padding-top: 0;
}
.pr-main-content{
    clear: both;
    overflow: hidden;
}
.pr-widget h3.pr-widget-title {
    padding: 10px 5px 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: normal;
    border-bottom: 1px solid #ccc;
    background-color: #ccc;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.pr-sidebar .pr-widget-border{
    border: 1px solid #ccc;
}
.pr-sidebar-feeds {
    border: 1px solid #ccc;
}
.pr-sidebar-feeds ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
.pr-sidebar-feeds ul li{
    padding: 5px;
    text-align: center;
}
.pr-sidebar-feeds ul li:last-child{
    border-bottom: 0px;
}
.pr-sidebar-feeds ul li a{
    display: block;
    line-height: normal;
}
.imkt-readmore{
    font-style: italic;
    border-bottom: 1px solid;
}
.pr-sidebar-feeds ul li > i.fa-phone,.pr-sidebar-feeds ul li a i{
    padding: 0 5px 0 0;
}
.pr-sidebar-feeds ul li a.imkt-sidebar-email:hover{
    text-decoration: underline !important;
}
.pr-sidebar-feeds ul li a.imkt-sidebar-email:hover i{
    color: #6a6a6a;
}
.pr-sidebar-widget{
    float: left;
    width: 100%;
}
.pr-sidebar-widget .textwidget{
    padding: 5px;
}
.pr-widget-border > div{
    margin: 0;
    padding: 10px;
}
.pr-widget-border > div ul{
    padding: 0 0 0 15px;
    margin: 0;
}
.imkt-display-title .pr-artical-header,.imkt-display-title-date .pr-artical-header{
    margin-bottom: 0;
}
.imkt-display-title-date .pr-artical-title span {
    color: #777;
    font-style: italic;
    padding: 0 0 0 10px;
}
.imkt-release-date{
    color: #777;
    font-style: italic;
}
.imkt-release-date::before{
    content: " - ";
    display: inline;
}
.pr-m-b-15{
    margin-bottom: 15px;
}
.imkt-latest-release {
    margin-bottom: 0;
    padding: 0 5px;
}
.imkt-latest-release > li {
    padding: 5px 0;
}
.menu-press-resources-container{
    padding: 10px 5px;
}
.pr_powered_by{
    font-size: 11px;
    color: #c1c1c1;
    line-height: 10px;
    margin: 20px 0;
    text-align: center;
}
.pr_powered_by a{
    font-size: 11px;
    color: #c1c1c1;
    line-height: 10px;
    padding: 0 3px;
    margin: 0;
    text-decoration: none;
}
.pr_powered_by a:hover{
    text-decoration: underline;
    color: #6a6a6a;
}

/**
 * responsive
 **/
@media (max-width:1024px){
    .pr-container.container {
        margin: 0 auto;
        max-width: 970px;
        width: 100%;
    }
}
@media (max-width:768px){
    .pr-container.container {
        margin: 0 auto;
        max-width: 750px;
        width: 100%;
    }
    .pr-page-wrap{
        margin: 15px 0;
    }

}
@media (max-width:767px){
    .pr-container.container{
        width: 100%;
    }
    .pr-page-wrap .pr-row{
        margin-left:0;
        margin-right:0;
    }
    .pr-page-wrap .pr-col-8,
    .pr-page-wrap .pr-col-5,
    .pr-page-wrap .pr-col-4{
        width: 100%;
    }
    .pr-col-4.pr-sidebar-bg{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .pr-location{
        text-align: left;
        margin: 15px 0 0;
    }
}